[submodule "demo"]
	path = demo
	url = /home/shashankshekhergupta/MEGA/Workspace/REACT/demo
[submodule "my-app"]
	path = my-app
	url = /home/shashankshekhergupta/MEGA/Workspace/REACT/my-app
[submodule "react_tdd"]
	path = react_tdd
	url = /home/shashankshekhergupta/MEGA/Workspace/REACT/react_tdd
[submodule "react_redux_demo"]
	path = react_redux_demo
	url = /home/shashankshekhergupta/MEGA/Workspace/REACT/react_redux_demo
